/* global */
html,
body {
    width: 100%;
    height: 100%;
    position: relative;
    font-family: 'Mulish', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.section {
    padding: 60px 0;
}

.heading {
    text-align: center;
}

.heading h5 {
    font-size: 22px;
    font-weight: 100;
}

.heading h1 {
    font-size: 50px;
    margin-top: 20px;
    font-weight: 900
}

.heading h1 span {
    color: #cbba9c;
}

/* header */
.header__top {
    display: flex;
    max-width: 1187px;
    margin: auto;
    justify-content: space-between;
}

.header__left img {
    height: 70px;
}

.header__right {
    display: flex;
    color: gray
}

.header__right i,
.header__right span {
    line-height: 70px;
    margin: 0 19px;
    font-size: 18px;
}

.fa-shopping-bag {
    color: #cbba9c;

}

.search__overlay {
    background-color: white;
    z-index: 11;
}

.user__overlay {
    background-color: rgba(0, 0, 0, 0.342);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 30px;
    opacity: 0;
    visibility: hidden;
}

.user__overlay .user__content {
    width: 835px;
    height: 310px;
    padding: 30px;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translatex(-50%);
    color: black;

}

.hien1 {
    opacity: 1 !important;
    visibility: visible !important;
}

.user__content h3 {
    font-size: 28px;
}

.forgotpass {
    padding: 15px 0;
    line-height: 40px;
    font-weight: bold;
}

.forgotpass a {
    display: inline-block;
    width: 120px;
    height: 40px;
    background-color: #c0a16c;
    color: white;
    text-align: center;
    text-decoration: none;
}

.forgotpass a:hover {
    background-color: #805c20;
    transition: .5s;
}

.forgotpass input {
    display: inline-block;
    margin: 0 10px;

}

.user__content form>label {
    display: block;
    padding: 10px 0;
    font-size: 15px;
    font-weight: bold;

}

.user__content form>a {
    color: gray;
    text-decoration: none;
    font-size: 16px;
}

.user__content form .inputtext {
    width: 100%;
    padding: 10px 0;
    outline: none;
}

.user__black {
    width: 100%;
    height: 100%;
}

.search__overlay input {
    height: 33px;
    border: 1px solid rgb(170, 170, 170)
}

.search__overlay input:focus {
    outline: 0;
    border: 1px solid rgb(170, 170, 170)
}

.search__overlay button {
    height: 36px;
    background-color: #cbba9c;
    border: 1px solid rgb(170, 170, 170)
}

.search__overlay button i {
    line-height: 0px;

}

.search {
    position: relative;
}

.search__overlay1 {
    position: absolute;
    left: -50%;
    display: flex;
    padding: 20px;
    border: 1px solid gray;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
    transform: scale(0);
}

.search:hover .search__overlay {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
}

.search__overlay::before {
    content: "";
    border: 15px solid rgb(255, 255, 255);
    border-bottom-color: rgb(218, 219, 218);
    position: absolute;
    top: -30px;
    left: 15%;
}

.navt {
    width: 100%;
    top: 0px;
    z-index: 1000;
}

.fix {
    position: fixed;
}

nav {
    top: 0;
    background-color: black;
    font-weight: bold;
    width: 100%;
    z-index: 1000;
}

nav>ul {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    color: white;
    padding: 25px 0;

}

nav ul li {
    position: relative;
    padding: 0 20px;
}

nav ul li:first-child a {
    color: #c0a16c;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li:hover .brand__overlay {
    opacity: 1;
    visibility: visible;
    transition: .5s;
    z-index: 100;
}

nav ul li:hover .brand__overlay ul {
    list-style: none;
}

.brand__overlay {
    position: absolute;
    top: 30px;
    left: -20px;
    background-color: gray;
    width: 256px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
}

.nav2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 30px;
    width: 100%;
    box-sizing: border-box;

}

.nav2 img {
    height: 70px;
}

.nav2 i {
    font-size: 22px;
}

.overlay__menu {
    position: fixed;
    z-index: 100;
    color: white;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;

}

.text__menu {
    position: relative;
    background-color: white;
    color: black;
    overflow-y: scroll;
    height: 100vh;
    z-index: 100;
}

.search__overlay2 {
    padding: 50px 20px 20px 20px;
    display: flex;
}

.search__overlay2 button {
    width: 40px;
}

.search__overlay2 button i {
    font-size: 15px;
}

.text__menu ul {
    list-style: none;
}

.text__menu ul li {
    padding: 20px;
    font-size: 15px;
    font-weight: bold;
    color: gray;
    width: 260px;
}

.text__menu ul li:last-child {
    line-height: 30px;
    display: flex;
}

.text__menu ul li img {
    height: 30px;
    padding-right: 10px;
    animation: 1s chuyendong1 forwards;
    animation-iteration-count: infinite;
}

@-webkit-keyframes chuyendong1 {
    0% {
        transform: scale(1);
    }

    30% {
        transform: scale(1.2) rotate(5deg);
    }

    60% {
        transform: scale(1.2) rotate(-10deg);
    }

    80% {
        transform: scale(1.2) rotate(10deg);
    }

    10% {
        transform: scale(1.2) rotate(-10deg);
    }
}

.menu__black {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.377);
    z-index: 0;
}


.slide,
.slides {
    width: 100%;
    height: 90%;
}

.slides {
    width: 100%;
    height: 100%;
}

.brand__overlay ul {
    padding: 10px 0;
}

.brand__overlay ul li {
    padding: 15px 20px;
}


.slide {
    position: relative;
}

.slide {
    width: 100%;
    height: 100%;
    position: relative;
}

.item1{
    position: absolute;
    top: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 1s;
}

.hien {
    opacity: 1;
    z-index: 3;
}

.sl1 {

    background-image: url(https://mauweb.monamedia.net/rolex/wp-content/uploads/2018/12/slider1.jpg)
}

.sl2 {
    background-image: url(https://mauweb.monamedia.net/rolex/wp-content/uploads/2018/12/slider2.jpg);
}

.sl3 {
    background-image: url(https://mauweb.monamedia.net/rolex/wp-content/uploads/2018/12/slider1.jpg);
}

.nut {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
}

.slides .hien .text h1 {
    opacity: 0;
    animation: divao 1s 0.4s forwards;

}

.slides .hien .text h5 {
    opacity: 0;
    animation: divao 1s 0.3s forwards;

}

.slides .hien .text h2 {
    opacity: 0;
    animation: divao 1s 0.6s forwards;

}

.slides .hien .text p {
    opacity: 0;
    animation: divao 1s 1.2s forwards;

}

.slides .hien .text .btn1 {
    opacity: 0;
    animation: divao 1s 1.6s forwards;

}

@-webkit-keyframes divao {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.nut ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nut ul li {
    margin: 0 5px;
    width: 25px;
    height: 25px;
    border: 1px solid gray;
    border-radius: 50%;

}

.xam {
    background-color: gray;
}

.haiben {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 35px;
    display: flex;
    justify-content: space-between;
    z-index: 20;
}

.haiben i {
    color: white;
    margin: 0 20px;
    width: 40px;
    height: 40px;
    border: 3px solid rgba(223, 223, 223, 0.534);
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: .5s;
}

.haiben i:hover {

    border: 3px solid white;

}

.sl_content {
    color: #cbba9c;
}

.content__text {
    border-left: 2px solid #e6e1d8;
    padding: 0 40px;
    max-width: 80%;
}

.content__text h5 {
    font-size: 1.2rem;
    font-weight: lighter;
    margin-top: 1rem;
    letter-spacing: 1px;
}

.content__text h2 {
    font-size: 2.5rem;
    margin: 1rem 0;
}

.content__text p {
    font-size: 1.3rem;
    margin: 1rem 0;
    line-height: 35px;
    max-width: 650px;
}

.sl_content a {
    display: inline-block;
    border: 3px solid #cbba9c;
    padding: 5px;
    transition: .1s;
}

.sl_content a:hover {
    border: 3px solid #cbba9c00;
}

.sl_content a>span {
    display: block;
    width: 130px;
    height: 35px;
    color: #cbba9c;
    text-align: center;
    line-height: 35px;
    border: 3px solid #cbba9c00;
    transition: .8s;
}

.sl_content a:hover span {
    border: 3px solid #cbba9c;
}

.item .text {
    padding: 0 20px;
}

.intro {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 288px 288px;
    grid-template-areas:
        ' h1 h2 h3'
        ' h1 h4 h3';
}

.itro--position {
    overflow: hidden;
}

.itro__left {
    grid-area: h1;
    position: relative;
}

.itro__left .bg1 {
    width: 100%;
    height: 100%;
    background-image: url(http://mauweb.monamedia.net/rolex/wp-content/uploads/2018/12/banner-4.jpg);
    background-size: cover;
    background-position: center;
    transition: .5s;

}

.itro--position:hover .bg {
    transform: scale(1.2);
}

.vd {
    position: absolute;
}

.intro--bg {
    background-size: cover;
    transition: 1s;
}


.itro__center1 .bg2 {
    background-image: url(http://mauweb.monamedia.net/rolex/wp-content/uploads/2018/12/banner-3.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: .5s;
}

.itro__center2 .bg3 {
    background-image: url(http://mauweb.monamedia.net/rolex/wp-content/uploads/2018/12/banner-2.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: .5s;

}

.itro__right {
    grid-area: h3;
}

.itro__right .bg4 {
    background-image: url(http://mauweb.monamedia.net/rolex/wp-content/uploads/2018/12/banner-1.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: .5s;
}

.intro__text {
    color: white;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

.intro__text h3 {
    font-size: 30px;
}

.intro__text p {
    padding: 10PX 0;
}

.intro__text a,
.btn3 {
    display: inline-block;
    border: 2px solid #cbba9c;
    color: white;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    transition: .5s;
    padding: 5px;
    background-color: #cbba9c34;
}

.intro__text a:hover,
.btn3:hover {
    border: 2px solid #cbba9c00;
}

.intro__text a span,
.btn3 span {
    border: 2px solid #ffffff00;
    padding: 9px 15px;
}

.intro__text a:hover span,
.btn3:hover span {
    border: 2px solid #cbba9c;
    padding: 9px 15px;
}

.itro--position {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.itro--position2 {
    align-items: center;
}

.intro__text2 {
    padding: 0;
}

.product__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    max-width: 1200px;
    margin: auto;
}

.product__item {
    flex: 31%;
    padding: 35px 10px;
    margin-top: 10px;
    transition: 1s;

}

.product__item:hover {
    box-shadow: 0px 0px 20px 15px rgb(143, 143, 143);
    transform: translateX(-5px) translateY(-5px);

}

.product__item img {
    width: 100%;
}

 del {
    color: gray;
    font-weight: 100;
}

/* PRODUCT__ITEM */
.product__bottom {
    max-width: 1200px;
    margin: auto;
    padding: 0 30px;
    

}
.product__bottom:hover .owl-nav{
    opacity: 1;
}
.owl-nav{
    font-size: 40px;
    opacity: 0;
    transition: 1s;
}
.owl-nav span{
    display: block;
    border: 2px solid #c0a16c ;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height:30px ;
    transition: .5s;
}
.owl-nav span:hover{
    background-color: #c0a16c;
}
.owl-next{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}
.owl-theme .owl-nav [class*="owl-"]:hover {
   background-color:rgba(255, 255, 255, 0)!important;

}
.owl-prev{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}
.owl-carousel{

    box-shadow: 0px 10px 10px 2px rgb(143 143 143);
}
.product__item2 {
    display: flex;
}
.product__left{
flex: 5;
position: relative;
}
.product__left img{

    max-width: 500px;
    max-height: 500px;
}
.product__right{
flex: 5;
margin-left: 0px;
}
.product__right span{
    display:inline-block;
    margin: 15px 0;
    width: 50px;
    height: 3px;
    background-color: rgb(201, 200, 200);
}
.product__right h3{
    color: #1c1c1c;
    font-size: 1.7em;
    line-height: 1.3;
}
.product__right h5{
    color: #111;
    font-size: 1.5em;

}
.product__right ul{
    list-style: none;
    margin-top: 15px;
}
.product__right ul li{
    font-weight: 300;
    line-height: 28px;
    font-size: 17px;
}
.product__right p{
    font-weight: 300;
    line-height: 28px;
    font-size: 15px;
}
.product__right .btn3{
    display: block;
    background-color: #c0a16c;
    width: 120px;
    height: 35px;
    text-decoration: none;
    color: white;
    text-align: center;
    line-height: 35px;
    border: none;
}
 .btn3:hover{
    background-color: #795c2b;

}


/* EDIT */
.edit{
    display: flex;
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
    padding: 0 30px ;
}

.edit__item{
    width: 32%;
}
.edit__item img{
    width: 100%;
    transition: .6s;
}
.edit__item .anh{
    overflow: hidden;
}
.edit__item:hover img{
    transform: scale(1.1);
}
.edit__item p{
 text-align: center;
 font-size: 18px;
 font-weight: bold;
 padding-top: 15px;
}
.edit__item p:first-of-type{
color: gray;
}
.blt{
    display: flex;
}
.blog__item{
    display: flex;
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
}
.blog__content{
    width: 32%;
    transition: .5s;
    padding: 15px;
}
.blog__content .anh{
    overflow: hidden;
    height: 300px;
}
.blog__content:hover {
    box-shadow: 0px 0px 20px 15px rgb(143, 143, 143);
    transform: translate(5px);
}
.blog__content img{

    height: 100%;
    transition: .5s;

 }
.blog__content:hover img{
    transform: scale(1.15);


 }
.blog__content h3{
    font-size: 25px;
    text-transform: uppercase;
    margin-top: 15px;
}
.blog__content span{
    font-size: 13px;
}
.blog__content p{
    font-size: 16px;
    width: 95%;
    margin-top: 10px;
}
.blog__content a{
    color: black;
    padding: 0 15px;
    margin-top: 15px;
    font-weight: bold;
}
.blog__content a:hover{
    color: rgb(255, 255, 255);
}

.flowus {
    margin: 20px;
}

.social {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.social__item {
    width: 48%;
    transition: .5s;
    display: flex;
    align-items: center;
    margin: 5px 0;
    color: white;
    padding: 5px 0;
}

.social__item--left {
    flex: 3;
    text-align: center;
}

.social__item--left i {
    font-size: 25px;
}

.social__item--right {
    flex: 7;
}

.social__item--right p {
    padding: 3px;
    font-size: 14px;
}

.flowus h5 {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.social_face {
    background-color: #000000;
}

.social .social_face:hover {
    background-color: #ec2020!important;
}

.social_tw {
    background-color: #55c5eb;
}

.social .social_tw:hover {
    background-color: #14B9EE;
    box-shadow: 1px 2px 10px 5px #14B9EE;
    transform: translate(5px);
}

.social_yt {
    background-color: #f55056;
}

.social .social_yt:hover {
    background-color: #FC161E;
    box-shadow: 1px 2px 10px 5px #FC161E;
    transform: translate(5px);
}

.social_tele {
    background-color: #61a7f1;
}

.social .social_tele:hover {
    background-color: #3885D9;
    box-shadow: 1px 2px 10px 5px #3885D9;
    transform: translate(5px);
}


@media only screen and (max-width: 600px) {

    .intro {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 288px 288px 288px 288px;
        grid-template-areas:
            'h1'
            'h4'
            'h3'
            'h2'
    }

    .intro__text {
        text-align: center;
    }

    .intro__text a {
        padding: 0;
    }

    .content__text h5 {
        font-size: 15px;

    }

    .content__text h2 {
        font-size: 20px;
    }

    .content__text p {
        font-size: 15px;

    }

    .sl_content a {
        font-size: 16px;
        padding: 0px;

    }
    .edit{
        flex-direction: column;
    }
    .edit__item{
        width: 100%;
        margin-bottom: 40px;
    }
    .blog__item{
        flex-direction: column;
    }
    .blog__content{
        width: 100%;
        margin-bottom: 15px;
    }
}
.thu{
    width: 200px ;
    height: 200px;
    background-color: #000000;
}
.thu:hover{
    background-color: red;
}
@media only screen and (max-width: 850px) {
    .nav1 {
        display: none;
        opacity: 0;
    }

    .nav2 {
        opacity: 1;
    }

    .header__top {
        display: none;
    }

    .product__item2{
        flex-direction: column;
    }
    .product__right{
        padding-left: 30px;
    }

}

@media only screen and (min-width: 850px) {
    .nav2 {
        display: none;
    }

}


@media only screen and (max-width: 960px) and (min-width: 600px) {
    .intro__text h3 {
        font-size: 3vw;
    }

    .intro__text p {
        font-size: 1.5vw;
    }

    .intro__text a,
    .btn3 {
        padding: 0px;

    }

    .content__text h5 {
        font-size: 2vw;

    }

    .content__text h2 {
        font-size: 3.5vw;
    }

    .content__text p {
        font-size: 2vw;

    }

    .sl_content a {

        padding: 0px;

    }
}